{% extends 'base.html.twig' %}

{% block title %}Piece{% endblock %}

{% block body %}
    <h1>Piece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piece.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ piece.description }}</td>
            </tr>
            <tr>
                <th>IdentifiantPes</th>
                <td>{{ piece.identifiantPes }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ piece.nom }}</td>
            </tr>
            <tr>
                <th>CodeEntite</th>
                <td>{{ piece.codeEntite }}</td>
            </tr>
            <tr>
                <th>LibelleEntite</th>
                <td>{{ piece.libelleEntite }}</td>
            </tr>
            <tr>
                <th>ElementRattache</th>
                <td>{{ piece.elementRattache }}</td>
            </tr>
            <tr>
                <th>Exercice</th>
                <td>{{ piece.exercice }}</td>
            </tr>
            <tr>
                <th>Sens</th>
                <td>{{ piece.sens }}</td>
            </tr>
            <tr>
                <th>AnnulationRejet</th>
                <td>{{ piece.annulationRejet }}</td>
            </tr>
            <tr>
                <th>BordereauPiece</th>
                <td>{{ piece.bordereauPiece }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ piece.objet }}</td>
            </tr>
            <tr>
                <th>Dossierpj</th>
                <td>{{ piece.dossierpj }}</td>
            </tr>
            <tr>
                <th>PDF</th>
                <td><a href="{{ path('app_piece.dl', { 'id': piece.id }) }}">{{ piece.fichierpj }}</a></td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_piece.index')}}">back to list</a>

{% endblock %}
