{% extends 'base.html.twig' %}

{% block title %}Engagement{% endblock %}

{% block body %}
    <h1>Engagement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ engagement.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ engagement.description }}</td>
            </tr>
            <tr>
                <th>IdentifiantPes</th>
                <td>{{ engagement.identifiantPes }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ engagement.nom }}</td>
            </tr>
            <tr>
                <th>CodeEntite</th>
                <td>{{ engagement.codeEntite }}</td>
            </tr>
            <tr>
                <th>LibelleEntite</th>
                <td>{{ engagement.libelleEntite }}</td>
            </tr>
            <tr>
                <th>ElementRattache</th>
                <td>{{ engagement.elementRattache }}</td>
            </tr>
            <tr>
                <th>Exercice</th>
                <td>{{ engagement.exercice }}</td>
            </tr>
            <tr>
                <th>SensEtNumero</th>
                <td>{{ engagement.sensEtNumero }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ engagement.objet }}</td>
            </tr>
            <tr>
                <th>Dossierpj</th>
                <td>{{ engagement.dossierpj }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_engagement.index') }}">back to list</a>
{% endblock %}
